<!doctype html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NLP Project</title>
  </head>

  <body>

    <div class='w-50 p-3'>
        <!-- <h4 class="h5 mb-3 font-weight-normal">   Selecione os fornecedores na lista</h4> -->
        <form method="POST" id="form" action="/" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleInputEmail1">Insira o link do youtube:
              <input type="text" name="url">
            </label>
          </div>
          <button type="submit" onclick="$('#loading').show();" class="btn btn-primary">Processar</button>
          
          <div class="upload">
            <label> Arquivo:<br />
              <input type="file" name="text" id="text" />
            </label>
            <input type="submit" value="Postar" />
          </div>  
        </form>

        <div class="images">
          <img src="{{logo_url}}" />
        </div>      
      
        <div class="justify-content-md-center" id="loading" style="display:none;">
            <div class="row justify-content-md-center" style="color:grey;">Acessando os comentários do vídeo...</div>
        </div>
      
    </div>
    
  </body>
</html>
