<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Salomão Alves">
    <script src = "../js/d3.min.js"></script>
    <title>NLP Project</title>
</head>
<body>
    {% block topo %}
    <a href="{{ url_for('begin') }}"><img src={{logo_url}} width="50" height="50">Go Home!</a>
    <br />
    <br />
    {% endblock %}

    {% block content%}<!-- page content -->{% endblock%}
</body>
</html>